@import '../modules/form.css';

.login {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
}

.login__title {
    font-size: var(--text-xl);
    font-weight: 500;
    color: var(--color-text);
    margin: 0;
}

.login__image {
    width: 45.875rem;
    flex: 1 0 45.875rem;
    background-color: var(--color-bg-muted);
    overflow: hidden;
}

.login__image img {
    object-fit: cover;
    width: 100%;
    /*height: 100%;
    max-height: calc(100vh - 81px);*/
    height: 42.875rem;
    min-height: 100%;
}

.login__action {
    flex: 0 0 29.9375rem;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    padding: 5.1875rem 7.9375rem 9rem 6.25rem;
}

div:has(>.form__label--agree-terms) {
    display: flex;
    align-items: flex-start;
}

#registration_form_agreeTerms {
    margin-right: 0.35rem ;
}

.form__label--agree-terms {
    order:2;
    display: inline-block;
    padding: 0 0 1.25rem 0;
}